### Exercise 1. Loading json files with pandas. Reading data is the first step in any data science project. Often, you’ll work with data in json format and run into problems at the very beginning. The Python libraries json and pandas work for the user. This exercise requires the user to solve two common issues when loading a json file to a data frame. Follow the instructions:

***c. Load the 01-call_logs.json file to the 00-load notebook.***

- Explore the json file to infer better the loading strategy 
> By visual inspection, the JSON file has a dictionary-like structure, with each entry consistent of a single element

- Use pandas read_json() method

In [1]:
import pandas as pd
call_logs_01 = pd.read_json('../data/raw/01-call_logs.json')

In [2]:
print(call_logs_01)

                start_date  abandon  prequeue  inqueue  agent_time  postqueue  \
0      2019-01-01 00:00:00        1         5      153           0          0
1      2019-01-28 16:43:00        1       233        0           0          0
2      2019-01-31 11:36:00        0        12        0        1018          1
3      2019-01-17 13:23:00        0         6        4         114          0
4      2019-01-22 13:58:00        0         5       51         141          0
...                    ...      ...       ...      ...         ...        ...
31594  2019-01-07 09:12:00        0         6      105         275          0
31595  2019-01-29 09:37:00        0        13        0         314          0
31596  2019-01-22 11:39:00        0         6       65         178          0
31597  2019-01-15 12:06:00        0        10        0           2          0
31598  2019-01-17 17:46:00        1         9       15           0          0

       total_time  sla    contact_id     master_id  ... cont_name  \
0               0  NaN  03143753e587  22143753e587  ...      Luís
1               0  NaN  0314375387fe  2214375387fe  ...     Laura
2            1031  1.0  03143753f3f7  22143753f3f7  ...  Apolonia
3             124  1.0  03143753ddc8  22143753ddc8  ...   Matthew
4             197  1.0  031437531bf4  221437531bf4  ...    Filipa
...           ...  ...           ...           ...  ...       ...
31594         386  1.0  03143753c1df  22143753c1df  ...    Niklas
31595         327  1.0  03143753dcf6  22143753dcf6  ...    Krista
31596         249  1.0  03143753fecd  22143753fecd  ...    Manuel
31597          12  1.0  03143753a242  22143753a242  ...      Paul
31598           0  NaN  031437535e99  221437535e99  ...     Elisa

      cont_last_name                  cont_email     cont_phone  \
0          Rodrigues          zsousa@example.net  6185826945946
1          Fonjallaz            krey@example.org  5680228173015
2           Fornalik     soniaanders@example.net  9491982173163
3              Pitts   petersonerica@example.net  8902555276493
4            Pacheco          vpinto@example.com  5305081352875
...              ...                         ...            ...
31594         Börner     kathicaspar@example.com  4867162710313
31595          Fritz       suzanne88@example.com  2727985263337
31596          Jesus   coelholarissa@example.com  3759359915395
31597          Landl  marie-louise22@example.org  2213500790638
31598          Polla         wbeuret@example.com    11401164308

               cmpg_name  sent_name  chan_type chan_name chan_priority  \
0          Sales Army VI    sadness      voice      call             5
1            Deliverando    sadness      voice      call             5
2      Recruit FactorIII    sadness      voice      call             5
3       Recruit Factor V    sadness      voice      call             5
4            Deliverando    sadness      voice      call             5
...                  ...        ...        ...       ...           ...
31594       Sales Army V  gratitude       test   chatbot             3
31595  Recruit Factor VI  gratitude       test   chatbot             3
31596         Billings A  gratitude       test   chatbot             3
31597         Billings E  gratitude       test   chatbot             3
31598         Billings E  gratitude       test   chatbot             3

               rsn_name
0      technical issues
1      technical issues
2      technical issues
3      technical issues
4      technical issues
...                 ...
31594     service issue
31595     service issue
31596     service issue
31597     service issue
31598     service issue

[31599 rows x 42 columns]

- Test different parameters in the read_json() function

> We may try different options to read_json. For example, we may load the entire json file as one line:
>
> `pd.read_json('../data/raw/01-call_logs.json', lines=True)`
>
> or a series:
>
> `pd.read_json('../data/raw/01-call_logs.json', typ='series')`
>
> We can also use to the function [`to_json()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html#pandas.DataFrame.to_json) to convert the dataframe into a json string, and then 'split' in a `dict` manner the columns, index and values:
>
> `pd.read_json('../data/raw/01-call_logs.json').to_json(orient='split')`

***d. Load the 02-call_logs.json file to the 00-load notebook.***

- Explore the json file to infer better the loading strategy
> By visual inspection, the JSON file has a nested dictionary-like structure with element 'call_logs 

- Use pandas read_json() method

In [3]:
call_logs_02 = pd.read_json('../data/raw/02-call_logs.json')

In [4]:
print(call_logs_02)

        id_cont  cont_name cont_last_name                  cont_email  \
0      10010027  Victorino         Tudela  domingocompany@example.net
1      10010027  Victorino         Tudela  domingocompany@example.net
2      10010027  Victorino         Tudela  domingocompany@example.net
3      10010027  Victorino         Tudela  domingocompany@example.net
4      10010027  Victorino         Tudela  domingocompany@example.net
...         ...        ...            ...                         ...
33339  Z999265T    Stewart          Davis    williamsiain@example.com
33340  Z999265T    Stewart          Davis    williamsiain@example.com
33341  Z999265T    Stewart          Davis    williamsiain@example.com
33342  Z999608T     Connor          Baker      morganglen@example.net
33343  Z999608T     Connor          Baker      morganglen@example.net

          cont_phone  id_agn agn_name  last_name  \
0       750144000000   12750   Elston     Howard
1       750144000000   13000     Raul   Gonzales
2       750144000000   13010    Fabio  Cannavaro
3       750144000000   13030  Ronaldo    de Asis
4       750144000000   13110   Hristo   Stoichov
...              ...     ...      ...        ...
33339   526051000000   12700     Phil    Rizzuto
33340   526051000000   12750   Elston     Howard
33341   526051000000   13110   Hristo   Stoichov
33342  6265210000000   12830    Aaron      Judge
33343  6265210000000   13040  Gabriel  Batistuta

                               agn_email     id_ccl  ...  id_rsn  \
0                  ehoward@nice.team.org  am_sam002  ...  bil-02
1       rgonzales@nice.international.org  am_nam023  ...  bil-04
2      fcannavaro@nice.international.org  am_nam023  ...  bil-03
3           rasis@nice.international.org  am_nam022  ...  bil-01
4       hstoichov@nice.international.org  am_nam022  ...  prd-03
...                                  ...        ...  ...     ...
33339             prizzuto@nice.team.org   eu-neu01  ...  ser-01
33340              ehoward@nice.team.org  am_nam001  ...  pri-01
33341   hstoichov@nice.international.org  am_nam001  ...  acc-01
33342               ajudge@nice.team.org  am_sam001  ...  ser-01
33343  gbatistuta@nice.international.org  am_nam003  ...  bil-01

                  rsn_name  id_team         team_name id_skill    skill_name  \
0         billing question    11201       Technocrats    20090       chatter
1       billing reschedule    11201       Technocrats    20090       chatter
2          billing payment    11202    The Front Line    20095       chatter
3      billing information    11204  Sultans of Sales    20075  multitasking
4          product service    11202    The Front Line    20100       chatter
...                    ...      ...               ...      ...           ...
33339        service issue    11201       Technocrats    20076  multitasking
33340              pricing    11201       Technocrats    20090       chatter
33341        account login    11202    The Front Line    20100       chatter
33342        service issue    11204  Sultans of Sales    20082      listener
33343  billing information    11205     The Brainiacs    20076  multitasking

      skill_disp_code skill_importance skill_sentiment  \
0                 120                3      Reflective
1                 120                3      Reflective
2                 121                4        Cheerful
3                 100                1        Cheerful
4                 122                5        Emphatic
...               ...              ...             ...
33339             103                3      Reflective
33340             120                3      Reflective
33341             122                5        Emphatic
33342             114                3      Reflective
33343             103                3      Reflective

                                                call_log
0      [{'contact_id': '03143748a367', 'master_id': '...
1      [{'contact_id': '03143749dfc1', 'master_id': '...
2      [{'contact_id': '0314374980cf', 'master_id': '...
3      [{'contact_id': '31437494967', 'master_id': '2...
4      [{'contact_id': '03143749e725', 'master_id': '...
...                                                  ...
33339  [{'contact_id': '031437483d2d', 'master_id': '...
33340  [{'contact_id': '03143749b0ef', 'master_id': '...
33341  [{'contact_id': '031437498f93', 'master_id': '...
33342  [{'contact_id': '031437491fca', 'master_id': '...
33343  [{'contact_id': '0314374986bc', 'master_id': '...

[33344 rows x 30 columns]

- Verify the nested list call_log inside the pandas dataframe
> Already mentioned two bullet points above. This is also observed when printing call_logs_02 in the bullet point above.

- Explore a method to flatten the json file when loading to pandas dataframe
> To flatten a dataframe, we may first convert it to a numpy array using [`to_numpy()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_numpy.html) and then flatten it using [`flatten()`](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.flatten.html)

In [5]:
print(call_logs_02.to_numpy().flatten())

['10010027' 'Victorino' 'Tudela' ... 3 'Reflective'
 list([{'contact_id': '0314374986bc', 'master_id': '2214374986bc', 'start_date': '2/1/2019 20:48', 'abandon': 0, 'prequeue': 10, 'inqueue': 219, 'agent_time': 178, 'postqueue': 0, 'total_time': 407, 'sla': 1.0, 'abandon_time': 0, 'date': '2/1/2019', 'start_time': '20:48:00'}])]

> In addition, we may also flatten the dataframe using the method described in point (c), by specifying `lines=True` in the parameters. For this case, we retain the dictionary-like structure with keys being shown.

In [6]:
print(pd.read_json('../data/raw/02-call_logs.json', lines=True))

                                               0      \
0  {'id_cont': '10010027', 'cont_name': 'Victorin...

                                               1      \
0  {'id_cont': '10010027', 'cont_name': 'Victorin...

                                               2      \
0  {'id_cont': '10010027', 'cont_name': 'Victorin...

                                               3      \
0  {'id_cont': '10010027', 'cont_name': 'Victorin...

                                               4      \
0  {'id_cont': '10010027', 'cont_name': 'Victorin...

                                               5      \
0  {'id_cont': '10010027', 'cont_name': 'Victorin...

                                               6      \
0  {'id_cont': '1005222', 'cont_name': 'Juan Anto...

                                               7      \
0  {'id_cont': '1005222', 'cont_name': 'Juan Anto...

                                               8      \
0  {'id_cont': '1005222', 'cont_name': 'Juan Anto...

                                               9      ...  \
0  {'id_cont': '1005222', 'cont_name': 'Juan Anto...  ...

                                               33334  \
0  {'id_cont': 'Z996370T', 'cont_name': 'Abigail'...

                                               33335  \
0  {'id_cont': 'Z998488T', 'cont_name': 'Georgina...

                                               33336  \
0  {'id_cont': 'Z998488T', 'cont_name': 'Georgina...

                                               33337  \
0  {'id_cont': 'Z998488T', 'cont_name': 'Georgina...

                                               33338  \
0  {'id_cont': 'Z999265T', 'cont_name': 'Stewart'...

                                               33339  \
0  {'id_cont': 'Z999265T', 'cont_name': 'Stewart'...

                                               33340  \
0  {'id_cont': 'Z999265T', 'cont_name': 'Stewart'...

                                               33341  \
0  {'id_cont': 'Z999265T', 'cont_name': 'Stewart'...

                                               33342  \
0  {'id_cont': 'Z999608T', 'cont_name': 'Connor',...

                                               33343
0  {'id_cont': 'Z999608T', 'cont_name': 'Connor',...

[1 rows x 33344 columns]

***e. Write a method wrapping the techniques of c. and d. above to load json files. For example, a method load_json() with parameters to load directly or flatten and load json files***

In [7]:
def load_json(file, flat=False):
    """A method to return a JSON file
        file: name of file with path included
        flat: if True, it flattens the dataframe. Default is False"""

    if flat is True:
        return pd.read_json(file).to_numpy().flatten()
    else:
        return pd.read_json(file)

In [8]:
print(load_json('../data/raw/02-call_logs.json', flat=True))

['10010027' 'Victorino' 'Tudela' ... 3 'Reflective'
 list([{'contact_id': '0314374986bc', 'master_id': '2214374986bc', 'start_date': '2/1/2019 20:48', 'abandon': 0, 'prequeue': 10, 'inqueue': 219, 'agent_time': 178, 'postqueue': 0, 'total_time': 407, 'sla': 1.0, 'abandon_time': 0, 'date': '2/1/2019', 'start_time': '20:48:00'}])]

### Exercise 2. Loading data and save to parquet. Other common formats to store data are txt, csv, xlsx, and parquet. A challenge in Big Data is related to a variety of data, e.g., different formats. In this exercise, you create a method to read txt, csv, xlsx, and parquet files to a dataframe. Follow the steps:

***c. For each of the files with prefix 03-call_logs to 06-call_logs load the file to the 00-load notebook. Please observe the following:***

- Explore the methods in pandas to load files based on their formats 
> To load parquet files, we may use [`read_parquet`](https://pandas.pydata.org/docs/reference/api/pandas.read_parquet.html), for which we first need to install the packages `pyarrow` and `fastparquet`

In [9]:
pip install pyarrow

Requirement already satisfied: pyarrow in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (8.0.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (from pyarrow) (1.22.3)
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install fastparquet

Requirement already satisfied: fastparquet in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (0.8.1)
Requirement already satisfied: fsspec in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (from fastparquet) (2022.5.0)
Requirement already satisfied: cramjam>=2.3.0 in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (from fastparquet) (2.5.0)
Requirement already satisfied: pandas>=1.1.0 in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (from fastparquet) (1.4.3)
Requirement already satisfied: numpy>=1.18 in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (from fastparquet) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (from pandas>=1.1.0->fastparquet) (2022.1)
Requirement already satisfied: six>=1.5 in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=1.1.0->fastparquet) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
call_logs_03 = pd.read_parquet('../data/raw/03-call_logs.parquet')

> To load parquet files, we may use [`read_excel`](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html), for which we first need to install the package `openpyxl`:

In [12]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /Users/juanrosas/opt/miniconda3/envs/dataingestion_env/lib/python3.8/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
call_logs_04 = pd.read_excel('../data/raw/04-call_logs.xlsx', sheet_name='call_logs')

> To load txt files, we may use [`read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). By visual inspection, we noticed the txt file is comma-separated, so we may add the optional argument `delimiter=','` to properly load the data into a dataframe.

> To load csv and txt files, we may use [`read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). By visual inspection, we noticed the txt file is comma-separated, so we may add the optional argument `delimiter=','` to properly load the data into a dataframe.

In [14]:
call_logs_05 = pd.read_csv('../data/raw/05-call_logs.txt', delimiter=',')

In [15]:
call_logs_06 = pd.read_csv('../data/raw/06-call_logs.csv')

***d. Write a method to automatically load the call logs files. Do not miss the json file loader from exercise 1 to load the json files.***

In [16]:
def load_call_logs(file, flat=False, sheet='call_logs'):
    """A method to load call_logs files of extension txt, cvs, xlsx, parquet or json
        file: name of file with path included
        flat: if True, it flattens the dataframe. Default is False
        sheet: in case it is a csv or xlsx file, it specifies the sheet name. Default is 'call_logs'"""

    if file.endswith('.txt'):
        df = pd.read_csv(file, delimiter=',')
    elif file.endswith('.csv'):
        df = pd.read_csv(file)
    elif file.endswith('.xlsx'):
        df = pd.read_excel(file, sheet_name=sheet)
    elif file.endswith('.parquet'):
        df = pd.read_parquet(file)
    elif file.endswith('.json'):
        df = pd.read_json(file)
    else:
        return 'Not a valid extension'

    # Remove unnamed columns
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

    # Flatten if flat=True
    if flat is True:
        return df.to_numpy().flatten()
    else:
        return df